*{
    margin: 0;
    border: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(25, 25, 90);
}
header nav{
    -webkit-box-shadow: 0px 10px 7px -2px rgba(20,20,20,1);
    -moz-box-shadow: 0px 10px 7px -2px rgba(20,20,20,1);
    box-shadow: 0px 10px 7px -2px rgba(20,20,20,1);
}
header div table tr td h1{
    color: rgb(8, 36, 88);
}
header div table tr td h3{
    color: rgb(92, 95, 92);
}
header div{
    margin-top: 3px;
    background-color: rgb(215, 230, 240);
}
header div table tr td p{
    color: rgb(215, 230, 240);
}

header nav ul{
    list-style:none;
    overflow: hidden;
}
header nav ul li{
    float:left;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    display:block;
}
div img{
    margin-top: -80px;
    float: left;
}
.classTable{
    margin-top: 100px;
}
.classTable table{
    border: 10px;
    border-color: black;
}
.classTable table tr .text{
    background-color: rgb(241, 236, 236);
}
.classTable table tr .text p a{
    color:blue;
    text-decoration: none;
    font-family: sans-serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.classTable table tr td h3{
    color: rgb(45, 45, 94);
    font-family: cursive;
    font-size: 180%;
}
.classTable table tr td h2{
    color: rgb(62, 62, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
}
.classTable table tr .box{
    background-color: grey;
    color: white;
}
.classTable table tr .box p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    margin-top: 20px; 
}
.classTable table tr .text p {
    text-align: justify;
    color:rgb(88, 88, 88);
}
.classTable table tr .text h3 {
    font-family: monospace;
}
.boton a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-family: monospace;
}
footer{
    font-size:150%;
    width:90%;
    max-width: 1000px;
    margin: 20px auto;
}
