*{
    margin: 0;
    border: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(25, 25, 90);
    box-shadow: black;
}
header div table tr td h1{
    color: rgb(8, 36, 88);
    
}
header div table tr td h3{
    color: rgb(92, 95, 92);
}
header div{
    background-color: rgb(215, 230, 240);
}
header div table tr td p{
    color: rgb(215, 230, 240);
}

header nav ul{
    list-style:none;
    overflow: hidden;
}
header nav ul li{
    float:left;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    display:block;
}